assess 23 n8n_mid.json
{
  "name": "assess 23 n8n_mid",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "43a9ab7c-3b68-4f78-893c-701936aa324b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dAcvyWR4SETPGbvzOGpyuIbBXDLqmjHt2puf7AHkxbI",
          "mode": "list",
          "cachedResultName": "Persona Bucket Classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dAcvyWR4SETPGbvzOGpyuIbBXDLqmjHt2puf7AHkxbI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Contacts Source",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dAcvyWR4SETPGbvzOGpyuIbBXDLqmjHt2puf7AHkxbI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "08dd477e-89bd-462c-ab6e-581eeff1f1ae",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "19013062-500d-4ddf-ba3d-99bf07af23b7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this professional into a persona bucket:\n\nRecord ID: {{ $json.record_id }}\nFull Name: {{ $json.full_name }}\nDesignation: {{ $json.designation }}\nProfile URL: {{ $json.profile_url }}\n\nReturn ONLY this exact JSON:\n{\n  \"record_id\": \"{{ $json.record_id }}\",\n  \"full_name\": \"{{ $json.full_name }}\",\n  \"designation\": \"{{ $json.designation }}\",\n  \"persona_bucket\": \"Technical|Functional|Sales|Leadership\",\n  \"confidence\": \"High|Medium|Low\",\n  \"rationale\": \"One sentence explaining why\"\n}",
        "options": {
          "systemMessage": "You are a B2B persona classification specialist.\n\nYour job is to classify professional designations \ninto exactly one of these 4 persona buckets:\n\nTECHNICAL:\n- Software Engineers, Developers, DevOps, \n  Architects, QA, Data Scientists, IT Managers,\n  CTOs, System Admins, Network Engineers\n\nFUNCTIONAL:\n- HR, Finance, Operations, Supply Chain,\n  Project Managers, Business Analysts,\n  Product Managers, CFOs, COOs\n\nSALES:\n- Sales Reps, Account Executives, BDRs,\n  Sales Managers, VP Sales, Revenue Officers,\n  Business Development, Partnerships\n\nLEADERSHIP:\n- CEOs, MDs, Presidents, Founders,\n  Board Members, Directors (non-dept specific),\n  General Managers, C-Suite Executives\n\nAlways respond with ONLY raw JSON.\nNo markdown, no backticks.\nStart with { and end with }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        208
      ],
      "id": "1f885f47-7477-4e8b-8efe-e12293c17768",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        416
      ],
      "id": "aee8fed3-f285-4ee0-b2c0-16e9d5e1df92",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "X6yz5KIllfL8AWsR",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst original = $('Loop Over Items').first().json;\n\n// Get AI output\nlet rawOutput = item.json.output || '';\nlet classData = {};\n\ntry {\n  if (typeof rawOutput === 'string') {\n    rawOutput = rawOutput\n      .replace(/```json/gi, '')\n      .replace(/```/g, '')\n      .trim();\n\n    const start = rawOutput.indexOf('{');\n    const end = rawOutput.lastIndexOf('}');\n\n    if (start !== -1 && end !== -1) {\n      classData = JSON.parse(\n        rawOutput.substring(start, end + 1)\n      );\n    }\n  } else if (typeof rawOutput === 'object') {\n    classData = rawOutput;\n  }\n} catch(e) {\n  // Safe fallback\n  return [{\n    json: {\n      record_id: original.record_id,\n      full_name: original.full_name,\n      designation: original.designation,\n      persona_bucket: 'Functional',\n      confidence: 'Low',\n      rationale: 'Parse failed — default assigned',\n      error: true,\n      processed_at: new Date().toISOString()\n    }\n  }];\n}\n\n// Valid persona buckets\nconst validBuckets = [\n  'Technical', 'Functional',\n  'Sales', 'Leadership'\n];\n\n// Normalize persona bucket\nlet bucket = (classData.persona_bucket || '')\n  .trim();\nif (!validBuckets.includes(bucket)) {\n  // Try to match partial\n  const found = validBuckets.find(b =>\n    bucket.toLowerCase().includes(b.toLowerCase())\n  );\n  bucket = found || 'Functional';\n}\n\n// Normalize confidence\nconst validConf = ['High', 'Medium', 'Low'];\nlet confidence = (classData.confidence || 'Medium')\n  .trim();\nif (!validConf.includes(confidence)) {\n  confidence = 'Medium';\n}\n\n// Normalize profile URL\nlet profileUrl = (original.profile_url || '').trim();\nif (profileUrl && !profileUrl.startsWith('https://')) {\n  profileUrl = 'https://' + profileUrl;\n}\nif (profileUrl && !profileUrl.endsWith('/')) {\n  profileUrl = profileUrl + '/';\n}\n\n// Normalize name title case\nconst fullName = (\n  classData.full_name ||\n  original.full_name || ''\n).trim()\n  .split(' ')\n  .map(w => w.charAt(0).toUpperCase() +\n             w.slice(1).toLowerCase())\n  .join(' ');\n\n// Normalize designation\nconst designation = (\n  classData.designation ||\n  original.designation || ''\n).trim();\n\nreturn [{\n  json: {\n    record_id: original.record_id,\n    full_name: fullName,\n    designation: designation,\n    profile_url: profileUrl,\n    persona_bucket: bucket,\n    confidence: confidence,\n    rationale: (classData.rationale || '')\n                .substring(0, 300),\n    error: false,\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        208
      ],
      "id": "552208a9-89ec-4c87-a3c4-f2c63ad8cd68",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dAcvyWR4SETPGbvzOGpyuIbBXDLqmjHt2puf7AHkxbI",
          "mode": "list",
          "cachedResultName": "Persona Bucket Classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dAcvyWR4SETPGbvzOGpyuIbBXDLqmjHt2puf7AHkxbI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 806318167,
          "mode": "list",
          "cachedResultName": "Classification Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dAcvyWR4SETPGbvzOGpyuIbBXDLqmjHt2puf7AHkxbI/edit#gid=806318167"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.record_id }}",
            "full_name": "={{ $json.full_name }}",
            "designation": "={{ $json.designation }}",
            "persona_bucket": "={{ $json.persona_bucket }}",
            "confidence": "={{ $json.confidence }}",
            "rationale": "={{ $json.rationale }}",
            "timestamp": "={{ $json.processed_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "designation",
              "displayName": "designation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "persona_bucket",
              "displayName": "persona_bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rationale",
              "displayName": "rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        224
      ],
      "id": "926489f0-1012-40c2-b1bd-f1892dc9b97f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE persona_contacts\nSET persona_bucket = '{{ $json.persona_bucket }}',\n    confidence = '{{ $json.confidence }}',\n    status = 'processed',\n    processed = TRUE\nWHERE record_id = '{{ $json.record_id }}';\n\nINSERT INTO persona_log\n(record_id, full_name, designation,\n persona_bucket, action, result, message)\nVALUES (\n  '{{ $json.record_id }}',\n  '{{ $json.full_name }}',\n  '{{ $json.designation }}',\n  '{{ $json.persona_bucket }}',\n  'classification',\n  'success',\n  'Confidence: {{ $json.confidence }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        240
      ],
      "id": "d9869dc3-5820-4475-a485-a26723c1e27a",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "914ae591-d55c-4a5c-97ba-c44ab34ca4f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfa9bd419da97e8a72d6069acb67e95575c89baa71302d0781a7331301986176"
  },
  "id": "klpxG8yothLaUjdf",
  "tags": []
}