assign6_web scarapper.json
{
  "name": "assign6_web scarapper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "influencer-agent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0dce5120-5c76-497b-9b88-ac378f999329",
      "name": "Webhook",
      "webhookId": "6ecaf1fc-f2de-487d-8e2e-4fd705bd8326"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM influencer_profiles \nWHERE status = 'new' \nAND processed = FALSE\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "2b7d27ed-78f5-4011-829e-4877b1f14bf9",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst valid = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const missing = [];\n\n  if (!d.user_id) missing.push('user_id');\n  if (!d.username) missing.push('username');\n  if (!d.profile_url) missing.push('profile_url');\n\n  // Normalize Instagram URL\n  let url = (d.profile_url || '').trim();\n  if (!url.startsWith('https://')) url = 'https://' + url;\n  if (!url.endsWith('/')) url = url + '/';\n\n  if (missing.length === 0) {\n    valid.push({\n      json: {\n        ...d,\n        profile_url: url,\n        validation_status: 'VALID'\n      }\n    });\n  }\n}\n\nif (valid.length === 0) throw new Error('No valid records to process');\nreturn valid;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "2a20bb0f-1312-4cc5-9a77-08d44c3b01e8",
      "name": "Validate Records"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as cnt \nFROM influencer_log \nWHERE user_id = '{{ $json.user_id }}' \nAND result = 'success';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "1815b56f-57d1-4c00-8e05-71555c50ab1c",
      "name": "Duplicate Check (Postgres)",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3cb4c3bb-13d7-4e48-8a5b-d5b1a34559bc",
              "leftValue": "={{ $json.cnt }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "12bb84c3-c034-4da5-b0ec-f0e0422068c3",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        -96
      ],
      "id": "99cb4bd5-ce0e-4e50-aeb5-f0ef4d185b35",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1a1eb1a-6c0f-404e-a097-128fe5a1e1c2",
              "leftValue": "={{ $json.username }}",
              "rightValue": "janeeexxyeon",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        128
      ],
      "id": "71052063-0b0c-4024-b642-feb81935ce51",
      "name": "Which Account?"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "dSCLg0C3YEZ83HzYX",
          "mode": "list",
          "cachedResultName": "Instagram Profile Scraper (apify/instagram-profile-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/dSCLg0C3YEZ83HzYX/input"
        },
        "customBody": "{\n  \"usernames\": [\"{{ $json.username }}\"],\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1456,
        32
      ],
      "id": "68e62325-c196-4526-bf1c-b6ebfb5d5c94",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "qB67GNW8iVG12JSd",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {},
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1664,
        32
      ],
      "id": "78b3ab88-d1b6-4b3a-b92f-ea26a450875a",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "qB67GNW8iVG12JSd",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst original = $('Loop Over Items').first().json;\n\nreturn items.map(item => {\n  const d = item.json;\n  \n  const followersCount = d.followersCount || 0;\n  const followsCount = d.followsCount || 1;\n  const postsCount = d.postsCount || 0;\n  \n  // Qualification scoring\n  let score = 0;\n  if (followersCount > 10000) score += 40;\n  else if (followersCount > 1000) score += 20;\n  if (postsCount > 50) score += 20;\n  const engagementRate = followersCount > 0 \n    ? ((d.likesCount || 0) / followersCount * 100).toFixed(2) \n    : 0;\n  if (engagementRate > 3) score += 40;\n  else if (engagementRate > 1) score += 20;\n\n  return {\n    json: {\n      user_id: original.user_id,\n      username: d.username || original.username,\n      platform: 'instagram',\n      profile_url: d.url || original.profile_url,\n      full_name: d.fullName || '',\n      followers: followersCount,\n      following: followsCount,\n      posts_count: postsCount,\n      bio: d.biography || '',\n      engagement_rate: engagementRate,\n      qualification_score: score,\n      qualified: score >= 60,\n      caption: original.caption,\n      processed_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        32
      ],
      "id": "b86449e7-2c56-4852-9fd3-7181bcea1589",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cUwijZBbaazMAOfzylREeyG0yIoFvvCCxXcI9lIqUXY",
          "mode": "list",
          "cachedResultName": "Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cUwijZBbaazMAOfzylREeyG0yIoFvvCCxXcI9lIqUXY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 188223861,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cUwijZBbaazMAOfzylREeyG0yIoFvvCCxXcI9lIqUXY/edit#gid=188223861"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "following",
              "displayName": "following",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posts_count",
              "displayName": "posts_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "engagement_rate",
              "displayName": "engagement_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_score",
              "displayName": "qualification_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualified",
              "displayName": "qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        32
      ],
      "id": "8618b29d-3925-4bb1-9bef-045f9d8c326e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "bGApZ3CtTxA9fv2rl",
          "mode": "list",
          "cachedResultName": "🔥 Instagram Profile Scraper API (coderx/instagram-profile-scraper-api)",
          "cachedResultUrl": "https://console.apify.com/actors/bGApZ3CtTxA9fv2rl/input"
        },
        "customBody": "={\n  \"usernames\": [\"{{ $('Validate Records').item.json.username }}\"],\n  \"resultsLimit\": 10\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1488,
        224
      ],
      "id": "2755480b-0eed-4250-a0b1-8e7beeae15b8",
      "name": "Run an Actor1",
      "credentials": {
        "apifyApi": {
          "id": "qB67GNW8iVG12JSd",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1696,
        224
      ],
      "id": "51c06ced-c030-46d1-b0bf-d995044c7337",
      "name": "Get dataset items1",
      "credentials": {
        "apifyApi": {
          "id": "qB67GNW8iVG12JSd",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst original = $('Loop Over Items').first().json;\n\nreturn items.map(item => {\n  const d = item.json;\n  \n  const followersCount = d.followersCount || 0;\n  const followsCount = d.followsCount || 1;\n  const postsCount = d.postsCount || 0;\n  \n  // Qualification scoring\n  let score = 0;\n  if (followersCount > 10000) score += 40;\n  else if (followersCount > 1000) score += 20;\n  if (postsCount > 50) score += 20;\n  const engagementRate = followersCount > 0 \n    ? ((d.likesCount || 0) / followersCount * 100).toFixed(2) \n    : 0;\n  if (engagementRate > 3) score += 40;\n  else if (engagementRate > 1) score += 20;\n\n  return {\n    json: {\n      user_id: original.user_id,\n      username: d.username || original.username,\n      platform: 'instagram',\n      profile_url: d.url || original.profile_url,\n      full_name: d.fullName || '',\n      followers: followersCount,\n      following: followsCount,\n      posts_count: postsCount,\n      bio: d.biography || '',\n      engagement_rate: engagementRate,\n      qualification_score: score,\n      qualified: score >= 60,\n      caption: original.caption,\n      processed_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        224
      ],
      "id": "e57322a8-1832-4ec3-837b-a73583b9967d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cUwijZBbaazMAOfzylREeyG0yIoFvvCCxXcI9lIqUXY",
          "mode": "list",
          "cachedResultName": "Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cUwijZBbaazMAOfzylREeyG0yIoFvvCCxXcI9lIqUXY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 188223861,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cUwijZBbaazMAOfzylREeyG0yIoFvvCCxXcI9lIqUXY/edit#gid=188223861"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Validate Records').item.json.id }}",
            "username": "={{ $json.username }}",
            "platform": "={{ $json.platform }}",
            "full_name": "={{ $json.full_name }}",
            "processed_at": "={{ $json.processed_at }}",
            "qualified": "={{ $json.qualified }}",
            "qualification_score": "={{ $json.qualification_score }}",
            "engagement_rate": "={{ $json.engagement_rate }}",
            "bio": "={{ $json.bio }}",
            "posts_count": "={{ $json.posts_count }}",
            "following": "={{ $json.following }}",
            "followers": "={{ $json.followers }}",
            "caption": "={{ $json.bio }}",
            "profile_url": "={{ $('Validate Records').item.json.profile_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "following",
              "displayName": "following",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posts_count",
              "displayName": "posts_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "engagement_rate",
              "displayName": "engagement_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_score",
              "displayName": "qualification_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualified",
              "displayName": "qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        224
      ],
      "id": "1be1e3c6-e277-4142-b2f5-f76b06c39eca",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE influencer_profiles \nSET status = 'processed', processed = TRUE \nWHERE user_id = '{{ $json.user_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2320,
        144
      ],
      "id": "b22e4cfe-1064-4fb6-af54-bc6eb53bde9e",
      "name": "Status update",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "influencer_log",
          "mode": "list",
          "cachedResultName": "influencer_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "=",
            "user_id": "={{ $('Append row in sheet1').item.json.user_id }}",
            "username": "={{ $('Append row in sheet1').item.json.username }}",
            "action": "instagram_scrape",
            "result": "success",
            "message": "={{ $('Append row in sheet1').item.json.qualification_score }}",
            "created_at": "={{ $('Append row in sheet1').item.json.processed_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2528,
        144
      ],
      "id": "cac71943-91d9-4a8f-8fba-88ede881798f",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Validate Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Records": {
      "main": [
        [
          {
            "node": "Duplicate Check (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Check (Postgres)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Which Account?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Account?": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run an Actor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor1": {
      "main": [
        [
          {
            "node": "Get dataset items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Status update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Status update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status update": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c90792d5-d8b0-46a0-b95d-07729f9d2536",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfa9bd419da97e8a72d6069acb67e95575c89baa71302d0781a7331301986176"
  },
  "id": "WFzbEzzB0J8sxyiZ",
  "tags": []
}