assign2_n8n_mid_linkedin_reume_screener.json
{
  "name": "assign2_n8n_mid_linkedin_reume_screener",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5a360cc4-f167-4e64-a156-a7cd43629f5e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LinkedIn Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "new"
            },
            {
              "lookupColumn": "processed",
              "lookupValue": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        16
      ],
      "id": "cc851dba-9a0c-403a-a513-8ad0459fc2fe",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        16
      ],
      "id": "e6ef813f-ca88-447a-8332-23f0ac258855",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "LpVuK3Zozwuipa5bp",
          "mode": "list",
          "cachedResultName": "LinkedIn Profile Scraper + Email ✅ No Cookies (harvestapi/linkedin-profile-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/LpVuK3Zozwuipa5bp/input"
        },
        "customBody": "={\n  \"profileScraperMode\": \"Profile details no email ($4 per 1k)\",\n  \"queries\": [\n    \"{{ $json.profile_url }}\"\n  ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        576,
        224
      ],
      "id": "680893ae-cb9b-416d-8389-9fcc1ff63933",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "qB67GNW8iVG12JSd",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Enrich, validate and qualify the lead\nconst item = $input.first();\nconst d = item.json;\n\n// Pull original sheet data from loop\nconst original = $('Loop Over Items').first().json;\n\n// Validate required fields\nconst missing = [];\nif (!original.record_id) missing.push('record_id');\nif (!original.profile_url) missing.push('profile_url');\nif (!original.name) missing.push('name');\n\nif (missing.length > 0) {\n  return [{\n    json: {\n      ...original,\n      validation_status: 'INVALID',\n      missing_fields: missing.join(', '),\n      qualification_score: 0,\n      qualified: false,\n      status: 'failed'\n    }\n  }];\n}\n\n// Simulate qualification scoring\n// In real scenario this would use API response data\nconst score = Math.floor(Math.random() * 40) + 60; // 60-100 for demo\nconst qualified = score >= 75;\n\n// Normalize profile URL\nlet profileUrl = original.profile_url || '';\nif (!profileUrl.startsWith('https://')) {\n  profileUrl = 'https://' + profileUrl;\n}\nif (!profileUrl.endsWith('/')) {\n  profileUrl = profileUrl + '/';\n}\n\nreturn [{\n  json: {\n    record_id: original.record_id,\n    name: original.name,\n    profile_url: profileUrl,\n    qualification_score: score,\n    qualified: qualified,\n    status: qualified ? 'qualified' : 'rejected',\n    validation_status: 'VALID',\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        224
      ],
      "id": "e13b964f-b5d5-4c47-84a3-f16d3eaa434c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 987024977,
          "mode": "list",
          "cachedResultName": "Qualified Leads Output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE/edit#gid=987024977"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.record_id }}",
            "name": "={{ $json.name }}",
            "profile_url": "={{ $json.profile_url }}",
            "qualification_score": "={{ $json.qualification_score }}",
            "status": "={{ $json.qualified }}",
            "qualified": "={{ $json.status }}",
            "timestamp": "={{ $json.processed_at }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_score",
              "displayName": "qualification_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualified",
              "displayName": "qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        224
      ],
      "id": "658afac0-e9c5-42ca-b76d-95070beeab13",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1239280572,
          "mode": "list",
          "cachedResultName": "Qualified Only",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rxe_1AREYx8R4gYthxQZESjGPllfrnaqR86hgctnIXE/edit#gid=1239280572"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.record_id }}",
            "name": "={{ $json.name }}",
            "profile_url": "={{ $json.profile_url }}",
            "qualification_score": "={{ $json.qualification_score }}",
            "status": "={{ $json.status }}",
            "qualified": "={{ $json.qualified }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_score",
              "displayName": "qualification_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualified",
              "displayName": "qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        80
      ],
      "id": "b38aea3b-be4d-4cd6-be00-653baf27a249",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        224
      ],
      "id": "bf700629-a812-45e7-a19e-68c0d30770d9",
      "name": "Wait",
      "webhookId": "d47bb45a-ade6-405d-a00b-3352ffd030f9"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        784,
        224
      ],
      "id": "0eda3758-5f28-4a48-82f0-4da90f2a758a",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "qB67GNW8iVG12JSd",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ae3966c-f82a-464c-aa7a-3e1c850afd80",
              "leftValue": "={{ $json.qualified }}",
              "rightValue": "qualified",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1616,
        224
      ],
      "id": "ec972c7e-4feb-43c8-91e8-32699dc68394",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "546660e3-dbdb-480b-9966-77253163fab6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfa9bd419da97e8a72d6069acb67e95575c89baa71302d0781a7331301986176"
  },
  "id": "tp6wode0YVRUpOwE",
  "tags": []
}