n8n_mid_assign3_Competitors Post Analysis.json
{
  "name": "n8n_mid_assign3_Competitors Post Analysis",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT profile_url, record_id, status \nFROM competitor_positions \nWHERE status = 'new' \nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "b1b1fa08-b21d-46a0-a9a7-7e53f857bd97",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cdedf0b7-4903-42eb-a816-c281e3d67152",
              "leftValue": "={{ $json.profile_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "9823473d-9330-4b76-8ed3-8d1c9fa45248",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        -80
      ],
      "id": "7f2b8d05-7b3c-45eb-9c55-66848f52fa59",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "=site:linkedin.com/in {{ $json.profile_url.split('/in/')[1] }} current position"
            },
            {
              "name": "api_key"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        128
      ],
      "id": "caffa0f1-89b2-4efa-bb94-ccaf480c4e07",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        128
      ],
      "id": "a6b2d3aa-4ae5-4a54-a2ae-6f7bd3b72b36",
      "name": "Wait",
      "webhookId": "117da4b7-856a-4c22-b5be-4cecf6751f9c"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Analyze this output of previous node and extract info:\n1. Job title as title in organic_result\n2. Company name\n3. Key skills required\n4. Experience level\n5. Salary range (if mentioned)\n\nData: {{ $json }}\n\nReturn as JSON format."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1344,
        128
      ],
      "id": "5ea2312c-d136-456a-a86f-1ec8c6f25f40",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "X6yz5KIllfL8AWsR",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiResponse = $input.item.json;\n\n// Parse and structure the data\nreturn {\n  json: {\n    record_id: $input.item.json.record_id,\n    profile_url: $input.item.json.profile_url,\n    job_title: aiResponse.job_title || 'Not found',\n    company: aiResponse.company_name || 'Unknown',\n    skills: aiResponse.key_skills || [],\n    experience_level: aiResponse.experience_level || 'Not specified',\n    salary_range: aiResponse.salary_range || 'Not mentioned',\n    analyzed_at: new Date().toISOString(),\n    status: 'analyzed'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        128
      ],
      "id": "c10d95bf-630c-4fa9-9160-b110e573cc48",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tq7At8iIopu-01HhGwxzB9fdkrYy89XCUHEECaeWPQE",
          "mode": "list",
          "cachedResultName": "Openai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tq7At8iIopu-01HhGwxzB9fdkrYy89XCUHEECaeWPQE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tq7At8iIopu-01HhGwxzB9fdkrYy89XCUHEECaeWPQE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_title": "={{ $json.job_title }}",
            "company": "={{ $json.company }}",
            "skills": "={{ $json.experience_level }}",
            "experience_level": "={{ $json.experience_level }}",
            "salary_range": "={{ $json.salary_range }}",
            "analyzed_at": "={{ $json.analyzed_at }}",
            "status": "={{ $json.status }}",
            "record_id": "={{ $('Message a model').item.json.output[0].id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_range",
              "displayName": "salary_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "analyzed_at",
              "displayName": "analyzed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        128
      ],
      "id": "bf7e5423-02d6-43da-bdbd-558047a274e7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE competitor_positions \nSET status = 'analyzed' \nWHERE record_id = '{{ $json.record_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2096,
        352
      ],
      "id": "0c9570cd-e391-470d-b951-93e62cb1f63e",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_log (record_id, error_message, created_at)\nVALUES ('{{ $json.record_id }}', 'Invalid profile_url', NOW());",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        272
      ],
      "id": "92ebc8e3-da57-44e1-8e07-b521081c67bd",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "8cf02a74-5f47-4d38-a6eb-8dc1269548ab",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "46ffb743-eaae-4dec-aff9-bf89ad1047da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfa9bd419da97e8a72d6069acb67e95575c89baa71302d0781a7331301986176"
  },
  "id": "0AGyLI30ZFnAmIY8",
  "tags": []
}