n8n_11_mid.json
{
  "name": "n8n_11_mid",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        104
      ],
      "id": "f41a66ba-f992-4c21-a833-2b8c057d64e5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM candidates\nWHERE status = 'new'\nAND processed = FALSE\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        112
      ],
      "id": "38bed98c-1213-4a40-831c-c281672dcb6d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        104
      ],
      "id": "bf6e2e5c-0224-4e81-9ab3-4fef21440f1f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as cnt,\n       MAX(full_name) as existing_name\nFROM candidate_log\nWHERE record_id = '{{ $json.record_id }}'\nAND result = 'success';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        32
      ],
      "id": "15b05a64-b4a4-4966-9358-0b69cb84438e",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "807a6787-ad3a-4bf8-8165-fabbe4aaed7b",
              "leftValue": "={{ $json.cnt }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        32
      ],
      "id": "5cf2c2cb-e462-4f6b-baf2-ee8e801c3336",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidate_log\n(record_id, full_name, action, result, message)\nVALUES (\n  '{{ $json.record_id }}',\n  '{{ $json.full_name }}',\n  'duplicate_check',\n  'duplicate',\n  'Record already processed - skipped'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        128
      ],
      "id": "219e030b-623f-4df1-a51b-715325d75c71",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "LpVuK3Zozwuipa5bp",
          "mode": "list",
          "cachedResultName": "LinkedIn Profile Scraper + Email ✅ No Cookies (harvestapi/linkedin-profile-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/LpVuK3Zozwuipa5bp/input"
        },
        "customBody": "={\n  \"profileScraperMode\": \"Profile details no email ($4 per 1k)\",\n  \"queries\": [\"{{ $('Loop Over Items').item.json.profile_url }}\"]\n} "
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1200,
        -64
      ],
      "id": "639a6431-9a78-43ae-8c67-0c67906a2e78",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "qB67GNW8iVG12JSd",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1424,
        -64
      ],
      "id": "f71fd2b7-56e0-40bd-93bf-c6cc73c973ed",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "qB67GNW8iVG12JSd",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// safer fallback (no crash if node missing)\nlet original = {};\ntry {\n  original = $('Loop Over Items1').first()?.json || {};\n} catch (e) {\n  original = {};\n}\n\nreturn items.map(item => {\n  const d = item.json;\n\n  // ── VALIDATE ──\n  if (!d.firstName && !d.fullName && !original.full_name) {\n    return {\n      json: {\n        error: true,\n        record_id: original.record_id || 'REC-003',\n        message: 'Missing required name fields',\n        result: 'invalid'\n      }\n    };\n  }\n\n  // ── NAME ──\n  const fullName =\n    d.fullName ||\n    `${d.firstName || ''} ${d.lastName || ''}`.trim() ||\n    original.full_name;\n\n  // ── JOB ──\n  const jobTitle =\n    d.headline ||\n    d.jobTitle ||\n    original.job_title ||\n    'Not specified';\n\n  // ── PROFILE URL ──\n  let profileUrl =\n    d.linkedInUrl ||\n    d.url ||\n    original.profile_url ||\n    '';\n\n  if (profileUrl && !profileUrl.startsWith('http')) {\n    profileUrl = 'https://' + profileUrl;\n  }\n\n  // ── PROFILE IMAGE (NEW 🔥) ──\n  let profileImage = '';\n\n  if (Array.isArray(d.profilePictures)) {\n    // pick highest resolution image\n    const sorted = d.profilePictures.sort((a, b) => b.width - a.width);\n    profileImage = sorted[0]?.url || '';\n  }\n\n  // ── SKILLS ──\n  let skills = '';\n  if (Array.isArray(d.skills)) {\n    skills = d.skills.map(s => s.name || s).join(', ');\n  } else {\n    skills = original.skills || '';\n  }\n\n  // ── EXPERIENCE ──\n  const experience =\n    d.yearsOfExperience ||\n    original.experience_years ||\n    0;\n\n  // ── CONNECTIONS ──\n  const connections =\n    d.connectionsCount ||\n    original.connections ||\n    0;\n\n  // ── SCORING ──\n  let score = 0;\n\n  // Experience\n  if (experience >= 8) score += 35;\n  else if (experience >= 5) score += 25;\n  else if (experience >= 2) score += 15;\n  else score += 5;\n\n  // Skills\n  const skillCount = skills.split(',').filter(s => s.trim()).length;\n  if (skillCount >= 6) score += 35;\n  else if (skillCount >= 3) score += 25;\n  else score += 10;\n\n  // Connections\n  if (connections >= 500) score += 30;\n  else if (connections >= 100) score += 20;\n  else score += 5;\n\n  const qualified = score >= 60;\n\n  // ── DUP KEY ──\n  const dupKey = fullName\n    .toLowerCase()\n    .trim()\n    .replace(/\\s+/g, '_');\n\n  return {\n    json: {\n      record_id: original.record_id || `REC-${Date.now()}`,\n      full_name: fullName,\n      profile_url: profileUrl,\n      profile_image: profileImage, // ✅ NEW FIELD\n      job_title: jobTitle,\n      skills: skills.substring(0, 300),\n      experience: experience,\n      connections: connections,\n      qualification_score: score,\n      qualified: qualified,\n      dup_key: dupKey,\n      status: qualified ? 'qualified' : 'rejected',\n      processed_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -64
      ],
      "id": "0f58179d-4a3c-4365-b53e-7312e50dab2d",
      "name": "Validate + Score + Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I",
          "mode": "list",
          "cachedResultName": "Candidate Qualification Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Candidates Source",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        112
      ],
      "id": "757ca3c8-be67-4697-ab7f-08aabf1f1b48",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I",
          "mode": "list",
          "cachedResultName": "Candidate Qualification Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 682710941,
          "mode": "list",
          "cachedResultName": "All Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I/edit#gid=682710941"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.record_id }}",
            "full_name": "={{ $json.full_name }}",
            "job_title": "={{ $json.job_title }}",
            "skills": "={{ $json.skills }}",
            "experience": "={{ $json.experience }}",
            "qualification_score": "={{ $json.qualification_score }}",
            "qualified": "={{ $json.qualified }}",
            "timestamp": "={{ $json.processed_at }}",
            "profile_url": "={{ $('Execute a SQL query').item.json.profile_url }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience",
              "displayName": "experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_score",
              "displayName": "qualification_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualified",
              "displayName": "qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        -64
      ],
      "id": "ef2b123f-e4d2-4608-b101-d176b8630ad4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a0550e7-3c6c-4926-b879-841c33add7c6",
              "leftValue": "={{ $json.qualified }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2096,
        -64
      ],
      "id": "9522ad20-f606-42e3-b72f-203208c84b24",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I",
          "mode": "list",
          "cachedResultName": "Candidate Qualification Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 712464332,
          "mode": "list",
          "cachedResultName": "Qualified Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBWkhXfVzBKq8ZGTD_ddenkKpEh6Bd5D0XvRQAA2k9I/edit#gid=712464332"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.record_id }}",
            "full_name": "={{ $json.full_name }}",
            "profile_url": "={{ $('Append or update row in sheet').item.json.profile_url }}",
            "job_title": "={{ $json.job_title }}",
            "skills": "={{ $json.skills }}",
            "experience": "={{ $json.experience }}",
            "qualification_score": "={{ $json.qualification_score }}",
            "qualified": "={{ $json.qualified }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience",
              "displayName": "experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_score",
              "displayName": "qualification_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualified",
              "displayName": "qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2320,
        -64
      ],
      "id": "83bc40bf-59e0-4faa-8cfc-6b62cf488912",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE candidates\nSET status = 'processed',\n    processed = TRUE\nWHERE record_id = '{{ $json.record_id }}';\n\n\n\nINSERT INTO candidate_log\n(record_id, full_name, action, result, message)\nVALUES (\n  '{{ $json.record_id }}',\n  '{{ $json.full_name }}',\n  'qualification',\n  'success',\n  'Score: {{ $json.qualification_score }} - {{ $json.status }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2544,
        104
      ],
      "id": "97079016-f1a3-4523-8eb1-0f9d8f4be190",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Validate + Score + Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate + Score + Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1492e09f-09d4-41a2-afb8-323791f9fbfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfa9bd419da97e8a72d6069acb67e95575c89baa71302d0781a7331301986176"
  },
  "id": "4oymdYoNE0gPK9W7",
  "tags": []
}